doctype html
html
  head
    title Huellitas Felices
    link(rel="stylesheet", href="/css/style.css")
  body
    nav.nav-links
      a(href=productosUrl) Productos
      a(href=pacientesUrl) Pacientes
      a(href=turnosUrl) Turnos
    block content
