doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Iniciar sesi칩n | Huellitas Felices
    link(rel="icon", href="/favicon.ico" type="image/x-icon" alt="Huellitas Felices favicon")
    link(rel="stylesheet", href="/css/style.css")

  body
      h1 Iniciar sesi칩n


  
  form(method="POST", action="/login", class="form-box")
        div
          label(for="correo") Correo electr칩nico:
          input(type="email", name="correo", id="correo", required)

        div
          label(for="password") Contrase침a:
          input(type="password", name="password", id="password", required)

        button(type="submit") Ingresar
