extends ../layout

block content
  h1 Iniciar sesión

  
  form(method="POST", action="/usuarios/login", class="form-box")
    div
      label(for="correo") Correo electrónico:
      input(type="email", name="correo", id="correo", required)

    div
      label(for="password") Contraseña:
      input(type="password", name="password", id="password", required)

    button(type="submit") Ingresar